<p class="u-spacer--tiny">{{info.label}} <br>
  <strong>{{info.plainValue}}</strong>
</p>

<WuButtonGroup>
  <WuButton @label="Juist" @size="small" @isNarrow={{true}} @command="ctrl + j" @commandLocation="below" onClick={{action "insert"}} />
  <WuButton @label="Negeer" @size="tiny" @isLink={{true}} @isDark={{true}} @isNarrow={{true}} @command="esc" @commandLocation="below" onClick={{null}} />
</WuButtonGroup>

{{yield}}
